* {
box-sizing: border-box;
padding: 0;
margin: 0;
}

body {
    background-color: rgb(198, 231, 214);
    /* font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; */
    height: 100vh;
}

header {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    font-style: italic;
    font-weight: 600;
    padding: 40px;
    text-align: center;
    background: #8fd0c3;
    color: white;    

}

/* .btn {
    margin-top: 200px;
} */
/* 
        height: 600px;
        width: 800px; */
        /* display: flex;
        justify-content: center; */
    
    .b1 {
        margin-top: 50px;   
        margin-left: 100px;   
        background-color: rgb(90, 52, 129);
        border: none;
        color: white;
        padding: 10px 25px;
        text-align: center;
        display: inline-block;
        font-size: 18px;

    }

    .Form {
        margin-left: 100px;
        margin-top: 50px;
        font-size: 20px;
        font-style: italic;
        font-weight: 200;
    }
        
       
    #myDIV {
        width:500px;
        height:600px;
        border:solid 1px #000;
        padding:10px;
        margin-right: 100px;
        margin-bottom: 50px;
        float:right;
        text-align: center;
        font-family: Lucida Calligraphy;
        font-size: 16px;
        color: white;
                
    }

    .CardHeader {
        text-align: center;        
        font-family: Lucida Calligraphy;
        font-weight: bold;
        font-size: 30px;
        color: white;
        margin:50px 20px 20px 20px ;
    }
    
    #line1 {
        text-align: center;        
        font-family: Lucida Calligraphy;
        font-size: 40px;
        color: white;
    }

    #line2 {
        text-align: center;        
        font-family: Lucida Calligraphy;
        font-size: 40px;
        color: white;
        margin-bottom: 20px;
    }

    #line3 {
        text-align: center;        
        font-family: Lucida Calligraphy;
        font-size: 20px;
        color: white;
        margin-bottom: 15px;
    }
    #line4 {
        text-align: center;        
        font-family: Lucida Calligraphy;
        font-size: 20px;
        color: white;
        margin-bottom: 40px;
    }

    #line5 {
        text-align: center;        
        font-family: Lucida Calligraphy;
        font-size: 20px;
        color: white;
    }
    
    /* .grid { 
    
        display: grid;
        grid-template-areas:
        'Form Card';

        gap: 10px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 16px;
        color: black;
        width: 1500px;
        margin: 0 auto;
         }
     
    .btn,
    .Card,
    {
    background-color: blue;
    border: black;}
    
    .btn {grid-area: Form;}
    .Card {grid-area: Card;}
    
    
        figure img {
        width: 400px;
        height: 450px;
        object-fit: contain; }  
       
       
    
    }  */
